.card {
    box-shadow: 4px 4px 6px rgba(33, 37, 41, 0.6);
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    min-width: 200px;
    border-radius: 10px;
    background-color: rgba(33, 37, 41, 0.1);
}

.card:hover, .selected {
    box-shadow: 1px 1px 20px rgba(33, 37, 41, 0.6);
    background-color: white;

}


.title {
    text-align: center;
    font-weight: 700;

}

.img {
    text-align: center;
    font-size: 60px;
}